@{
    ViewData["Title"] = "Bogue";
}
<h1>@ViewData["Title"]</h1>

<p>Pour reporter un bogue un problème ou une sugestion pour le site envoyer un courriel à <a href="mailto:investir@ncis.ca">investir@ncis.ca</a>.</p>
