@{
    ViewData["Title"] = "Bogue";
}
<h1>@ViewData["Title"]</h1>

<p>Pour reporter un bogue un problème ou un sugestion pour le site envoyer un courriel à <a href="mailto:mesactions@ncis.ca">mesactions@ncis.ca</a>.</p>
