@{
    ViewData["Title"] = "Aide";
}
<h1>@ViewData["Title"]</h1>

<p>La section (aide) sert à aider les utilisateurs.</p>
<p>La section (comparaison) sert à comparer les actions et montrer combien tout le monde à d'argent.</p>
<p>La section (portefeuille) montre les statistiques de toutes les actions.</p>
<p>La section (Moyenne) montre un graphique de la moyenne.</p>
<p>La section (progrès) sert à montrer combien tout le monde à gagner ou perdue d'argent cette semaine.</p>
<p>La section (total) montre combien il y a d'argent en tout.</p>
<p>Finalement la section (Bogue) est pour reporter un bogue ou un problème dans le site , on peut aussi utiliser la section bogue pour envoyer une sugesstion pour le site. </p>




