@{
    ViewData["Title"] = "Progrès";
}
<h1>@ViewData["Title"]</h1>

- Investisseur
- Valeurs en CAD
- + /- depuis une semaine
- + /- depuis un mois
- + /- depuis trois mois
- + /- depuis six mois
- + /- depuis un an